<h1>Enter a product to add to cart</h1>

<%=form_tag '/' do %>
    <label>Add product:</label><br>
  <%= text_field_tag :product %><br>
  <%= submit_tag "add to cart" %>
<% end%>

<ul>
<% cart.each do |item| %>
<li><%=item%></li>
<% end%>
</ul>